.MarketUpdateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;  
    margin-top: 100px;
    margin-bottom: 100px;
}
.lowerContent{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* width: 90%;  */
}
.heading{
    font-size: 36px;
    font-weight: 600;
    color: #ECF1F0;
    margin-bottom: 10px;
}
.subHeading{
    font-size: 18px;
    color:#B6B6B6;
    font-weight: 600;
}