.smallCardContainer{
    display: flex;
    flex-direction: column;
    /* width:300px; */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 10px 10px 4px 4px;
    padding : 2px 5px;
}
.cardImage{
    width:100%;
    border-radius: 4px 4px 0px 0px;
}
.smallCardLowerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:#ffffff;
    padding:10px;
}
.heading{
    font-size: 18px;
    font-weight: 600;
}
.tag , .heading , .article {
    margin-top: 10px;
}
.tag{
    font-size: 12px;
    background: rgba(255, 255, 255, 0.07);
    padding: 5px 7px;
    border-radius:4px ;
    width:88px;
}
.article{
    font-size: 14px;
    color:#B6B6B6;
}