.MarketTrendCardContainer{
    height:170px;
    width:250px;
    background: rgba(255, 255, 255, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 8px 20px;
}
.divider{
    height:1px;
    width:100%;
    background-color: #ECF1F0;
    opacity: 0.2;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}
.tiltArrow{
    background: rgba(255, 255, 255, 0.2);
    padding:10px;
    border-radius: 50%;
}
.cardHeader>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
}
.cardHeader>div>div{
    margin-right: 10px;
}
.cardHeaderCategory{
    background-color: #C6C6C6;
    font-size: 10px;
    padding:4px 5px;
    color:black;
    border-radius: 4px;;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cardFooterHeader{
    font-size: 24px;
}
.cardFooterFooter{
    color:#B6B6B6;
    font-size: 16px;
}