.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 100px;
}
.mainRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:200px;
}
.heading{
    color:#ECF1F0;
    font-size: 32px;
    font-weight: 700;
}
.subHeading{
    color:#B6B6B6;
    font-size: 18px;
    width:70%;
}
  
@media screen and (max-width: 1120px) {
    .mainContainer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .mainRight{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
    .subHeading{
        margin : 40px auto;
    }
}
@media screen and (max-width: 500px) {
    .mainImg{
        width:90%;
    }
    .mainRight{
        width:180%;
    }
}