.exploreContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exploreContainer>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:80%;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding:30px 60px 30px 60px;
    border-radius: 12px;
}
.containerLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:80px;
    width:500%;
}
.heading{
    font-size: 24px;
    font-weight: 600;
    color:#ECF1F0;
}
.subHeading{
    color:#B6B6B6;
    font-size: 16px;
}
.learnBtn{
    width:100%;
}
@media screen and (max-width: 1120px) {
    .exploreContainer{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .exploreContainer>div{
        width:90%;
        padding:30px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .containerLeft{
        width:100%;
    }
    .heading{
        font-size: 20px;
        text-align: center;
    }
    .subHeading{
        font-size: 14px;
        text-align: center;
        margin-bottom: 40px;
    }
}
