.MarketTrend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin:30px 100px;
}
.marketTrendContainerHeading{
    color:#ECF1F0;
    font-size:24px;
    font-weight: 500;
    margin-bottom: 40px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cards>div{
    margin-right: 25px;
}