html {
  margin: 0;
  background-color:#11011F;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
button{
  height:50px;
  width:104px;
  background-color: #0FAE96;
  color: white;
  border-radius: 10px;
}